### IDEs ###
.idea/
.vscode/*

### GO ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
vendor/
__debug_bin*

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

### Frontend ###
ui/dist/**
ui/node_modules/

### Other ###
/config.yaml
/ui-config.yaml
/.env
/cookies
/logs
/discuit
/images
.secrets