@use 'mixins';

body.is-static-page {
    background: var(--color-bg);
}

.page-static {
    // max-width: 960px;
    font-size: var(--fs-xl);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0;
    --max-width: 960px;
    > .wrap {
        max-width: var(--max-width);
        width: 100%;
        padding-left: var(--gap);
        padding-right: var(--gap);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 0;
    }
    .footer {
        margin-top: var(--gap);
        width: 100%;
        // background: rgba(var(--base-4), 0.5);
        background: #000;
        color: #fff;
        margin-bottom: 0;
        padding: 50px 0;
        > .wrap {
            max-width: var(--max-width);
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: calc(2 * var(--gap));
            justify-items: center;
            @include mixins.mobile() {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        .footer-title {
            // text-transform: uppercase;
            font-weight: 600;
        }
        .footer-item {
            color: inherit;
            opacity: 0.8;
        }
        .footer-col {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .footer-item,
            .footer-title {
                margin-bottom: calc(0.5 * var(--gap));
            }
            @include mixins.mobile() {
                align-items: center;
                text-align: center;
                padding: 0 calc(2 * var(--gap));
            }
        }
        .footer-show {
            .footer-logo {
                font-size: var(--fs-2xl);
                font-weight: 600;
                color: inherit;
                &:hover {
                    text-decoration: none;
                }
            }
            .footer-description {
                opacity: 0.8;
            }
            @include mixins.mobile() {
                align-items: center;
            }
        }
    }
}

.page-markdown-guide {
    table tr td:nth-child(2) {
        font-family: monospace;
    }
}

.page-about {
    padding-top: 0;
    background-color: var(--color-bg);
    .heading-highlight {
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient(
            45deg,
            rgba(70, 28, 138, 1) 0%,
            rgba(68, 147, 205, 1) 42%,
            rgba(216, 43, 72, 1) 69%,
            rgba(242, 144, 47, 1) 100%
        );
        box-decoration-break: clone;
    }
    @include mixins.mobile {
        .wrap {
            padding-left: var(--gap);
            padding-right: var(--gap);
        }
    }
    .about-landing {
        height: 380px;
        background: #f4f7ff;
        .wrap {
            height: 100%;
            max-width: 850px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .about-heading {
            font-size: 5.5rem;
            line-height: 1.15;
            letter-spacing: -0.052em;
        }
        .about-subheading {
            opacity: 0.75;
            font-weight: normal;
            font-size: 2.25rem;
            padding: 0 8rem;
            margin-top: 1rem;
        }
        @include mixins.mobile {
            .about-heading {
                font-size: 4.2rem;
            }
            .about-subheading {
                padding: 0;
            }
        }
    }
    .squiggly-line {
        position: relative;
        top: -2px;
        height: 16px;
        background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4IiBoZWlnaHQ9IjE0IiB2aWV3Qm94PSIwIDAgMTA4IDE0IiBmaWxsPSIjZjRmN2ZmIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMC40NTYwNTUgMS41TDkuMjkzOCAxMC41TDE1LjY3NjYgNkwyNS40OTYzIDEwLjVMMjguNDQyMiA0LjVMMzQuMzM0MSA5TDQyLjY4MDggMTNMNDYuNjA4NyA3TDUyLjk5MTUgMTJMNTUuOTM3NSAxMC41TDYxLjgyOTMgNkw2Ni43MzkxIDkuNUw2OS42ODUxIDEzTDc1LjU3NjkgOEw4MC45Nzc3IDZMODMuOTIzNiAxMEw5MC43OTc0IDEzTDk2LjE5ODMgOEwxMDIuNTgxIDkuNUwxMDcgMSIgc3Ryb2tlPSJibGFjayI+PC9wYXRoPgo8L3N2Zz4=')
            repeat-x;
    }
    .about-rest {
        padding: 6rem 0;
        font-size: 1.8rem;
        .wrap {
            max-width: 700px;
            display: flex;
            flex-direction: column;
            > * {
                margin-bottom: 5rem;
            }
        }
    }
    .about-section {
        p {
            margin-bottom: var(--gap);
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .about-highlights {
        .about-highlight {
            margin-bottom: calc(2 * var(--gap));
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .about-highlight {
        .is-bold {
            font-size: 2.5rem;
            padding-right: 8px;
            font-weight: 600;
            letter-spacing: -0.045;
        }
    }
    .about-faq {
        display: flex;
        flex-direction: column;
        .about-faq-title {
            font-size: var(--fs-3xl);
            margin-bottom: var(--gap);
        }
        .about-faq-list {
            display: flex;
            flex-direction: column;
            .about-faq-item {
                display: flex;
                flex-direction: column;
                --border-radius: 5px;
                border: 1px solid rgba(var(--base-fg), 0.4705882353);
                background-color: rgba(var(--base-fg), 0.0588235294);
                &:first-child {
                    border-top-left-radius: var(--border-radius);
                    border-top-right-radius: var(--border-radius);
                }
                &:not(:first-child) {
                    border-top: none;
                }
                &:last-child {
                    border-bottom-left-radius: var(--border-radius);
                    border-bottom-right-radius: var(--border-radius);
                }

                .about-faq-question {
                    padding: 1.5rem 2rem;
                    font-weight: 600;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    svg {
                        width: 16px;
                        height: 16px;
                    }
                }
                .about-faq-answer {
                    padding: 0 2rem 1rem 2rem;
                    font-size: 1.6rem;
                    display: none;
                }
                &.is-open {
                    .about-faq-answer {
                        display: initial;
                    }
                    .about-faq-question svg {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}

html.theme-dark {
    .page-about {
        .about-landing {
            background: #0f0e20;
        }
        .squiggly-line {
            background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4IiBoZWlnaHQ9IjE0IiB2aWV3Qm94PSIwIDAgMTA4IDE0IiBmaWxsPSIjMGYwZTIwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMC40NTYwNTUgMS41TDkuMjkzOCAxMC41TDE1LjY3NjYgNkwyNS40OTYzIDEwLjVMMjguNDQyMiA0LjVMMzQuMzM0MSA5TDQyLjY4MDggMTNMNDYuNjA4NyA3TDUyLjk5MTUgMTJMNTUuOTM3NSAxMC41TDYxLjgyOTMgNkw2Ni43MzkxIDkuNUw2OS42ODUxIDEzTDc1LjU3NjkgOEw4MC45Nzc3IDZMODMuOTIzNiAxMEw5MC43OTc0IDEzTDk2LjE5ODMgOEwxMDIuNTgxIDkuNUwxMDcgMSIgc3Ryb2tlPSIjYjNiM2IzIj48L3BhdGg+Cjwvc3ZnPg==');
        }
    }
}

.page-notfound {
    width: 100%;
    margin: 0 auto;
    min-height: calc(100vh - var(--page-top-margin));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .sidebar {
        display: none;
    }
}

.page-offline {
    > * {
        margin-bottom: var(--gap);
    }
}

.page-app-error {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10vw;
    > * {
        margin-bottom: calc(var(--gap) / 2);
    }
}
